@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Regular.otf") format("OpenType");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Bold.otf") format("OpenType");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Semibold.otf") format("OpenType");
  font-display: swap;
  font-weight: 600;
}
body,
html {
  font-family: "Averta", sans-serif;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background: #F44336;
}

.container {
  padding-left: 0.938rem;
  padding-right: 0.938rem;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover, a:focus {
  color: #F44336;
}

.img__ {
  position: relative;
  overflow: hidden;
}
.img__:hover::after {
  -webkit-animation: shine 0.75s;
          animation: shine 0.75s;
}
.img__::after {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.c-img {
  position: relative;
  display: block;
}
.c-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rating-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rating-item .rating {
  margin-right: 0;
}

.rating-item .rating-box {
  font-size: 0;
  line-height: 1;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  vertical-align: middle;
  font-size: 14px;
  color: #efc529;
  margin-right: 20px;
}

.rating-item .rating-box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  line-height: 1;
  pointer-events: none;
  width: 80%;
  color: #efc529;
}

.rating-item p {
  font-size: 14px;
}

.img_full img {
  width: 100%;
  height: auto;
}

.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content li {
  list-style: inherit;
  margin-bottom: 5px;
}

.s-content p {
  margin-bottom: 10px;
}

.s-content img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  width: auto !important;
  -o-object-fit: contain;
  object-fit: contain;
  height: auto !important;
}

.s-content table,
.s-content iframe {
  max-width: 100%;
  width: 100%;
}

.s-content table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.431372549);
}

.s-content table td {
  border-collapse: collapse;
  border: solid 1px rgba(0, 0, 0, 0.431372549);
  padding: 3px;
}

.s-content h1,
.s-content h2,
.s-content h3,
.s-content h4,
.s-content h5,
.s-content h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.s-content h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.s-content h2 {
  font-size: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.s-content h3 {
  font-size: 1.17em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.s-content h4 {
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.s-content h5 {
  font-size: 0.83em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.s-content h6 {
  font-size: 0.67em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.breadcrumb {
  font-weight: 600;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li a {
  color: #888;
  position: relative;
}
.breadcrumb li a:hover {
  color: #F44336;
}
.breadcrumb li a::after {
  content: "\f101";
  font-family: "fontAwesome";
  margin: 0 0.5rem;
}
.breadcrumb li span {
  background: linear-gradient(91.8deg, #F44336 0%, #C62828 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subtitle__all {
  letter-spacing: 0.24em;
  background: -webkit-gradient(linear, left top, right top, from(#FE8C00), to(#F83600));
  background: linear-gradient(90deg, #FE8C00 0%, #F83600 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subtitle__all::before, .subtitle__all::after {
  content: "";
  width: 1.875rem;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#FE8C00), to(#F83600));
  background: linear-gradient(90deg, #FE8C00 0%, #F83600 100%);
}
.subtitle__all::before {
  margin-right: 0.5rem;
}
.subtitle__all::after {
  margin-left: 0.5rem;
}

.nav-course li a:hover {
  color: #F44336;
}
.nav-course li a.active {
  border-bottom: 2px solid #F44336;
  color: #F44336;
}

.item-course__cate {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-course__cate:hover::after {
  background: linear-gradient(90.11deg, rgba(244, 67, 54, 0.85) 0%, rgba(198, 40, 40, 0.85) 100%);
}
.item-course__cate:hover .title {
  color: #fff;
}
.item-course__cate:hover .count {
  color: #FFF500;
}

.nav-footer ul li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.menu-footer ul li {
  display: inline-block;
}
.menu-footer ul li:not(:last-child) {
  margin-right: 2.5rem;
}
.menu-footer ul li a {
  display: block;
}

.video-lesson video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tab-info-lesson .tablinks {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tab-info-lesson .tablinks:hover {
  color: #F44336;
}
.tab-info-lesson .tablinks.active {
  color: #F44336;
  border-bottom: 2px solid #F44336;
}

.tabcontent {
  display: none;
}
.tabcontent.active {
  display: block;
}

.tab-sidebar__lesson .tablinks.active, .tab-sidebar__lesson .tablinks:hover {
  background: linear-gradient(91.8deg, #F44336 0%, #C62828 100%);
  color: #fff;
}

.list-lesson__item .item-lesson.active, .list-lesson__item .item-lesson:hover {
  background: #f5f5f5;
}

.color-gradient {
  background: linear-gradient(91.8deg, #F44336 0%, #C62828 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.box-info-student .ava img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar-admin__item {
  height: 44px;
}
.sidebar-admin__item:hover, .sidebar-admin__item:focus {
  background: linear-gradient(91.8deg, #F44336 0%, #C62828 100%);
  color: #fff;
}
.sidebar-admin__item:hover .title, .sidebar-admin__item:focus .title {
  color: #fff;
}

.orange-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#FE8C00), to(#F83600));
  background: linear-gradient(90deg, #FE8C00 0%, #F83600 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.pagination {
  text-align: center;
  margin: 1.25rem 0;
}
.pagination strong,
.pagination a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 2.25rem;
  height: 2.25rem;
  border-radius: 1.25rem;
  margin: 0 6px;
  font-weight: 600;
  font-size: 0.875rem;
}
.pagination strong {
  background: linear-gradient(91.8deg, #F44336 0%, #C62828 100%);
  color: #fff;
}
.pagination a {
  background: #EBEBEB;
  color: #888;
}
.pagination a:hover {
  color: #F44336;
}

.answer-exam input:checked ~ .text::before {
  border: 3px solid #F44336;
}
.answer-exam input:checked ~ .text::after {
  display: block;
}
.answer-exam .text {
  padding-left: 2rem;
  cursor: pointer;
}
.answer-exam .text::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 3px solid #BEBEBE;
  position: absolute;
  top: 0;
  left: 0;
}
.answer-exam .text::after {
  content: "";
  width: 10px;
  height: 10px;
  background: linear-gradient(91.8deg, #F44336 0%, #C62828 100%);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  display: none;
}

.avatar-group img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.exam-content__item.is_right .answer-exam input:checked ~ .text::before {
  border: 3px solid #48C664;
}
.exam-content__item.is_right .answer-exam input:checked ~ .text::after {
  background: #48C664;
}
.exam-content__item.is_right .result .text::before {
  border: 3px solid #48C664;
}
.exam-content__item.is_right .result .text::after {
  background: #48C664;
  display: block;
}
.exam-content__item.is_wrong .answer-exam input:checked ~ .text::before {
  border: 3px solid #FFB800;
}
.exam-content__item.is_wrong .answer-exam input:checked ~ .text::after {
  background: #FFB800;
}
.exam-content__item.is_wrong .result .text::before {
  border: 3px solid #48C664;
}
.exam-content__item.is_wrong .result .text::after {
  background: #48C664;
  display: block;
}

.show-result i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.show-result.open i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.item-package__vip .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pagination-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination-red .swiper-pagination-bullet {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.2;
  background: #CD272F;
  margin: 0 4px;
}
.pagination-red .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.swiper-package svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.swiper-package:hover svg path, .swiper-package:focus svg path {
  stroke: #F44336;
}
.swiper-package.swiper-button-disabled {
  opacity: 0.2;
}

.student-manager .ava img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-ava img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-teacher .breadcrumb span,
.banner-teacher .breadcrumb a {
  color: #fff;
  background: unset;
  -webkit-text-fill-color: unset;
}

.section-categories {
  background-size: 100%;
}

.payment-method__item input:checked ~ .payment-method__content::before {
  border: 1px solid #AF1F26;
}
.payment-method__item input:checked ~ .payment-method__content::after {
  display: block;
}

.payment-method__content {
  padding-left: 32px;
}
.payment-method__content::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid #888;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.payment-method__content::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #AF1F26;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.bank-info__detail img {
  max-height: 1.25rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-bottom: 4px;
}

#map iframe {
  width: 100%;
  height: 100%;
}

.section-contact {
  background-size: 100%;
}

.nav-link__new a.active {
  border-bottom: 2px solid #F44336;
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1024px) {
  .wow {
    visibility: hidden;
  }

  .menu ul li {
    display: inline-block;
  }
  .menu ul li a {
    display: block;
    font-weight: 700;
    color: #252525;
  }

  .menu > ul > li > a {
    padding: 1rem 0;
    font-size: 1rem;
  }

  .menu > ul > li:not(:last-child) {
    margin-right: 1rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1408px;
  }

  .menu > ul > li > a {
    padding: 1.5rem 0;
    font-size: 1.125rem;
  }

  .menu > ul > li:not(:last-child) {
    margin-right: 1.875rem;
  }
}
@media (max-width: 1534px) {
  .menu-footer ul li:not(:last-child) {
    margin-right: 1rem;
  }
}
@media (max-width: 1023px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: min(350px, 80%);
    height: 100%;
    overflow-y: auto;
    z-index: 100;
    background-color: #fff;
    display: block !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu.active {
    left: 0;
  }
  .menu .show-form-search {
    display: none;
  }
  .menu ul li a {
    display: block;
    padding: 10px 15px;
    color: #252525;
    font-weight: 600;
    border-top: 1px solid #252525;
  }

  .over-lay.show {
    right: 0 !important;
  }

  .header {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .nav-link__new {
    text-align: left !important;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 0.5rem;
  }
  .nav-link__new a {
    padding: 0 !important;
  }
}
@media (max-width: 767px) {
  .section-categories {
    background-image: unset !important;
  }
}