node_modules
public/uploads
public/sitemap.xml
public/sitemap
storage/framework/views/*.php
storage/framework/sessions/*
storage/framework/cache/*
storage/framework/testing/*
storage/logs
storage/debugbar
vendor
.vscode
sftp-config.json
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
storage/*.key