.form-footer {
    display: flex;
    justify-content: end;
    gap: 5px;
    width: calc(100% - 258px);
    margin-left: auto;
}

.fix-small .form-footer {
    width: calc(100% - 100px);
}

.form-footer.sticky {
    position: fixed;
    bottom: 0;
    text-align: right;
    right: 15px;
    background: white;
    padding: 10px 15px 8px;
    border-top-right-radius: 5px;
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 47%),
        0 8px 16px -8px rgb(0 0 0 / 52%), 0 -6px 16px -6px rgb(0 0 0 / 33%);
    border-top-left-radius: 5px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius:15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 5px;
    bottom: 3px;
    border-radius: 100%;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #17a2b8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #17a2b8;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px)
}

.pagination {
    display: flex !important;
    justify-content: flex-end !important;
    gap: 8px;
}

.pagination a, .pagination strong{
    min-width: 30px;
    min-height: 30px;
    border-radius: 2px;
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.pagination strong{
    border: 1px solid #f87171;
    color: #f87171;
}